{% extends 'base.html.twig' %}

{% block title 'Home page' %}

{% block body %}
    <div class="container text-center">
        <h1 class="mt-3 text-primary">Bienvenue chez Fitness Center ! </h1>
        <h2 class="mt-5 text-info"> En quoi sommes nous différents ?</h2>
    </div>

    <div class="mt-5 jumbotron container "><h3> SALLE DE SPORT HAUT DE GAMME</h3>
        <p>
            Les clubs Fitness Center sont conçus sur plus de 1000 m² afin d’offrir l’espace nécessaire aux adhérents
            pour
            pratiquer leurs activités sportives dans de bonnes conditions. Chez Fitness Center, vous retrouverez un
            espace
            musculation avec des machines à poids libres ou guidées et des haltères, un espace cardio training avec des
            appareils équipés d'un système audio et d’écrans pour vous divertir, un espace cross training pour vos
            entraînements les plus intensifs et un espace dédié aux sports de combats que vous pourrez pratiquer grâce à
            un ring et des sacs de frappe.
        </p>

        <h3> MATÉRIEL DE QUALITÉ EN LIBRE SERVICE</h3>
        <p>
            Chez Fitness Center, les prix sont low-cost mais pas le matériel ! Grâce à nos partenariats avec des
            constructeurs comme Technogym ou Hammer Strenght et nos partenaires fitness Yanga Sports Water ou LesMills,
            Fitness Center met à disposition de ses adhérents du matériel de fitness de dernière génération. Retrouvez
            les
            toutes dernières innovations.
        </p>

        <h3> NOS VALEURS</h3>

        <p> Parce que chacun a ses objectifs et ses motivations, Fitness Center vous offre une expérience sportive
            décomplexée et sur-mesure. Dans votre salle de sport, vous faites une pause, vous prenez soin de vous et de
            votre forme. Relax... Avec votre badge, vous accédez à tous les clubs Fitness Center. C’est simple,
            agréable, sûr. C'est ça l'esprit !
        </p>

        <p> Fitness Center, c’est moi mais en mieux
        </p>

        <p> Fitness Center, c'est la porte à côté
        </p>

        <p> Notre objectif est qu’il y ait forcément une salle Fitness Center à côté de chez vous ou près de votre lieu
            de travail. C’est aussi ça être proche de vous : vous éviter les kilomètres inutiles pour une remise en
            forme sans stress. Des lieux confortables, agréables, accessibles et... pas cher. Fitness Center, c’est la
            salle de sport qui pense d’abord à vous.
        </p>
        Rendre nos salles accessible, c'est aussi l'un de nos engagements. Quand on vous dit « salle de sport pas cher
        »... Vous pouvez keepcooler à partir de 29,90€* par mois en profitant de services de qualité ! Au mois ou par
        an… C’est vous qui choisissez votre formule d’abonnement. Et pour les étudiants, c’est plein d’avantages**... Le
        sport sans prise de tête côté budget, c’est aussi Fitness Center.

        <p> Fitness Center, pourquoi dépenser plus ?
        </p>
    </div>

{% endblock %}